In [2]:
import pandas as pd
df = pd.read_csv("customer_shopping_behavior.csv")

In [3]:
df.head()

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
0,1,55,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.1,Yes,Express,Yes,Yes,14,Venmo,Fortnightly
1,2,19,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,3.1,Yes,Express,Yes,Yes,2,Cash,Fortnightly
2,3,50,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.1,Yes,Free Shipping,Yes,Yes,23,Credit Card,Weekly
3,4,21,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.5,Yes,Next Day Air,Yes,Yes,49,PayPal,Weekly
4,5,45,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,2.7,Yes,Free Shipping,Yes,Yes,31,PayPal,Annually

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3900 entries, 0 to 3899
Data columns (total 18 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Customer ID             3900 non-null   int64
 1   Age                     3900 non-null   int64
 2   Gender                  3900 non-null   object
 3   Item Purchased          3900 non-null   object
 4   Category                3900 non-null   object
 5   Purchase Amount (USD)   3900 non-null   int64
 6   Location                3900 non-null   object
 7   Size                    3900 non-null   object
 8   Color                   3900 non-null   object
 9   Season                  3900 non-null   object
 10  Review Rating           3863 non-null   float64
 11  Subscription Status     3900 non-null   object
 12  Shipping Type           3900 non-null   object
 13  Discount Applied        3900 non-null   object
 14  Promo Code Used         3900 non-null   object
 15  Previous Purchases      3900 non-null   int64
 16  Payment Method          3900 non-null   object
 17  Frequency of Purchases  3900 non-null   object
dtypes: float64(1), int64(4), object(13)
memory usage: 548.6+ KB

In [5]:
df.describe(include = 'all')

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
count,3900.000000,3900.000000,3900,3900,3900,3900.000000,3900,3900,3900,3900,3863.000000,3900,3900,3900,3900,3900.000000,3900,3900
unique,NaN,NaN,2,25,4,NaN,50,4,25,4,NaN,2,6,2,2,NaN,6,7
top,NaN,NaN,Male,Blouse,Clothing,NaN,Montana,M,Olive,Spring,NaN,No,Free Shipping,No,No,NaN,PayPal,Every 3 Months
freq,NaN,NaN,2652,171,1737,NaN,96,1755,177,999,NaN,2847,675,2223,2223,NaN,677,584
mean,1950.500000,44.068462,NaN,NaN,NaN,59.764359,NaN,NaN,NaN,NaN,3.750065,NaN,NaN,NaN,NaN,25.351538,NaN,NaN
std,1125.977353,15.207589,NaN,NaN,NaN,23.685392,NaN,NaN,NaN,NaN,0.716983,NaN,NaN,NaN,NaN,14.447125,NaN,NaN
min,1.000000,18.000000,NaN,NaN,NaN,20.000000,NaN,NaN,NaN,NaN,2.500000,NaN,NaN,NaN,NaN,1.000000,NaN,NaN
25%,975.750000,31.000000,NaN,NaN,NaN,39.000000,NaN,NaN,NaN,NaN,3.100000,NaN,NaN,NaN,NaN,13.000000,NaN,NaN
50%,1950.500000,44.000000,NaN,NaN,NaN,60.000000,NaN,NaN,NaN,NaN,3.800000,NaN,NaN,NaN,NaN,25.000000,NaN,NaN
75%,2925.250000,57.000000,NaN,NaN,NaN,81.000000,NaN,NaN,NaN,NaN,4.400000,NaN,NaN,NaN,NaN,38.000000,NaN,NaN
max,3900.000000,70.000000,NaN,NaN,NaN,100.000000,NaN,NaN,NaN,NaN,5.000000,NaN,NaN,NaN,NaN,50.000000,NaN,NaN

In [6]:
df.isnull().sum()

Customer ID                0
Age                        0
Gender                     0
Item Purchased             0
Category                   0
Purchase Amount (USD)      0
Location                   0
Size                       0
Color                      0
Season                     0
Review Rating             37
Subscription Status        0
Shipping Type              0
Discount Applied           0
Promo Code Used            0
Previous Purchases         0
Payment Method             0
Frequency of Purchases     0
dtype: int64

In [7]:
df['Review Rating'] = df.groupby('Category')['Review Rating'].transform(lambda x: x.fillna(x.median()))
df['Review Rating']

0       3.1
1       3.1
2       3.1
3       3.5
4       2.7
       ...
3895    4.2
3896    4.5
3897    2.9
3898    3.8
3899    3.1
Name: Review Rating, Length: 3900, dtype: float64

In [8]:
df.isnull().sum()

Customer ID               0
Age                       0
Gender                    0
Item Purchased            0
Category                  0
Purchase Amount (USD)     0
Location                  0
Size                      0
Color                     0
Season                    0
Review Rating             0
Subscription Status       0
Shipping Type             0
Discount Applied          0
Promo Code Used           0
Previous Purchases        0
Payment Method            0
Frequency of Purchases    0
dtype: int64

In [9]:
df.columns = df.columns.str.lower()
df.columns = df.columns.str.replace(' ','_')
df = df.rename(columns ={'purchase_amount_(usd)':'purshase_amount'})

In [10]:
df.columns

Index(['customer_id', 'age', 'gender', 'item_purchased', 'category',
       'purshase_amount', 'location', 'size', 'color', 'season',
       'review_rating', 'subscription_status', 'shipping_type',
       'discount_applied', 'promo_code_used', 'previous_purchases',
       'payment_method', 'frequency_of_purchases'],
      dtype='object')

In [11]:
# Create a new column age_group
labels = ['Young_adult','Adult','Mid_aged','Senior']
df['age_group'] = pd.qcut(df['age'],q=4, labels = labels)

In [12]:
df[['age','age_group']].head(10)

   age    age_group
0   55     Mid_aged
1   19  Young_adult
2   50     Mid_aged
3   21  Young_adult
4   45     Mid_aged
5   46     Mid_aged
6   63       Senior
7   27  Young_adult
8   26  Young_adult
9   57     Mid_aged

In [13]:
# Create column purchase_freqency_day
frequency_mapping ={'Fortnightly': 14,\
                    'Weekly': 7,
                    'Monthly': 30,
                    'Quarterly': 90,
                    'Bi-Weekly': 14,
                    'Annually': 365,
                    'Every 3 Months': 90}

df['purchase_freqency_day'] = df['frequency_of_purchases'].map(frequency_mapping)

In [14]:
df[['purchase_freqency_day','frequency_of_purchases']].head(10)

   purchase_freqency_day frequency_of_purchases
0                     14            Fortnightly
1                     14            Fortnightly
2                      7                 Weekly
3                      7                 Weekly
4                    365               Annually
5                      7                 Weekly
6                     90              Quarterly
7                      7                 Weekly
8                    365               Annually
9                     90              Quarterly

In [15]:
df[['discount_applied','promo_code_used']].head(10)

  discount_applied promo_code_used
0              Yes             Yes
1              Yes             Yes
2              Yes             Yes
3              Yes             Yes
4              Yes             Yes
5              Yes             Yes
6              Yes             Yes
7              Yes             Yes
8              Yes             Yes
9              Yes             Yes

In [16]:
(df['discount_applied'] == df['promo_code_used']).all()

np.True_

In [17]:
df = df.drop('promo_code_used', axis= 1)

In [18]:
df.columns

Index(['customer_id', 'age', 'gender', 'item_purchased', 'category',
       'purshase_amount', 'location', 'size', 'color', 'season',
       'review_rating', 'subscription_status', 'shipping_type',
       'discount_applied', 'previous_purchases', 'payment_method',
       'frequency_of_purchases', 'age_group', 'purchase_freqency_day'],
      dtype='object')

In [45]:
import pandas as pd
from sqlalchemy import create_engine
import urllib.parse

# 1. Technical address (localhost) and the port we fixed (3307)
host = "localhost"
port = "3306"

# 2. Your credentials
username = "root"
password = "tk@4300" # Replace with the password you set!
database = "customer_behavior"

# This handles special characters in your password (like @ or !)
safe_password = urllib.parse.quote_plus(password)

# 3. Create the connection engine
engine = create_engine(f"mysql+pymysql://{username}:{safe_password}@{host}:{port}/{database}")

# 4. Upload the DataFrame 'df' to a table named 'customer'
try:
    df.to_sql('customer', engine, if_exists='replace', index=False)
    print("Success! Data has been uploaded to MySQL.")
except Exception as e:
    print(f"Error: {e}")

Success! Data has been uploaded to MySQL.

In [52]:
from tabulate import tabulate
#Simple Function to run and print queries
def run_query(sql_query):
    try:
        with engine.connect() as conn:
            result_df = pd.read_sql(sql_query, conn)
            print(tabulate(result_df, headers='keys', tablefmt='grid', showindex=False))
    except Exception as e:
        print(f"Error executing query: {e}")

In [53]:
# Execute your queries line by line 
print("Query 1: Top 5 Rows")
run_query("SELECT * FROM customer LIMIT 5;")

Query 1: Top 5 Rows
+---------------+-------+----------+------------------+------------+-------------------+---------------+--------+-----------+----------+-----------------+-----------------------+-----------------+--------------------+----------------------+------------------+--------------------------+-------------+-------------------------+
|   customer_id |   age | gender   | item_purchased   | category   |   purshase_amount | location      | size   | color     | season   |   review_rating | subscription_status   | shipping_type   | discount_applied   |   previous_purchases | payment_method   | frequency_of_purchases   | age_group   |   purchase_freqency_day |
+===============+=======+==========+==================+============+===================+===============+========+===========+==========+=================+=======================+=================+====================+======================+==================+==========================+=============+=========================+
|             1 |    55 | Male     | Blouse           | Clothing   |                53 | Kentucky      | L      | Gray      | Winter   |             3.1 | Yes                   | Express         | Yes                |                   14 | Venmo            | Fortnightly              | Mid_aged    |                      14 |
+---------------+-------+----------+------------------+------------+-------------------+---------------+--------+-----------+----------+-----------------+-----------------------+-----------------+--------------------+----------------------+------------------+--------------------------+-------------+-------------------------+
|             2 |    19 | Male     | Sweater          | Clothing   |                64 | Maine         | L      | Maroon    | Winter   |             3.1 | Yes                   | Express         | Yes                |                    2 | Cash             | Fortnightly              | Young_adult |                      14 |
+---------------+-------+----------+------------------+------------+-------------------+---------------+--------+-----------+----------+-----------------+-----------------------+-----------------+--------------------+----------------------+------------------+--------------------------+-------------+-------------------------+
|             3 |    50 | Male     | Jeans            | Clothing   |                73 | Massachusetts | S      | Maroon    | Spring   |             3.1 | Yes                   | Free Shipping   | Yes                |                   23 | Credit Card      | Weekly                   | Mid_aged    |                       7 |
+---------------+-------+----------+------------------+------------+-------------------+---------------+--------+-----------+----------+-----------------+-----------------------+-----------------+--------------------+----------------------+------------------+--------------------------+-------------+-------------------------+
|             4 |    21 | Male     | Sandals          | Footwear   |                90 | Rhode Island  | M      | Maroon    | Spring   |             3.5 | Yes                   | Next Day Air    | Yes                |                   49 | PayPal           | Weekly                   | Young_adult |                       7 |
+---------------+-------+----------+------------------+------------+-------------------+---------------+--------+-----------+----------+-----------------+-----------------------+-----------------+--------------------+----------------------+------------------+--------------------------+-------------+-------------------------+
|             5 |    45 | Male     | Blouse           | Clothing   |                49 | Oregon        | M      | Turquoise | Spring   |             2.7 | Yes                   | Free Shipping   | Yes                |                   31 | PayPal           | Annually                 | Mid_aged    |                     365 |
+---------------+-------+----------+------------------+------------+-------------------+---------------+--------+-----------+----------+-----------------+-----------------------+-----------------+--------------------+----------------------+------------------+--------------------------+-------------+-------------------------+

In [56]:
print("Query 2: What is the total revenue generated by male vs. female customers?")
run_query("""SELECT gender, SUM(purshase_amount) AS revenue 
FROM customer 
GROUP BY gender""")

Query 2: What is the total revenue generated by male vs. female customers?
+----------+-----------+
| gender   |   revenue |
+==========+===========+
| Male     |    157890 |
+----------+-----------+
| Female   |     75191 |
+----------+-----------+

In [ ]:
print("Query 3: Which customers used a discount but still spent more than the average purchase amount? ")
run_query("""SELECT customer_id, purshase_amount  
          FROM customer WHERE discount_applied    ='Yes' 
          AND purshase_amount  >= (SELECT AVG(purshase_amount ) FROM customer)""")

Query 3: Which customers used a discount but still spent more than the average purchase amount?
+---------------+-------------------+
|   customer_id |   purshase_amount |
+===============+===================+
|             2 |                64 |
+---------------+-------------------+
|             3 |                73 |
+---------------+-------------------+
|             4 |                90 |
+---------------+-------------------+
|             7 |                85 |
+---------------+-------------------+
|             9 |                97 |
+---------------+-------------------+
|            12 |                68 |
+---------------+-------------------+
|            13 |                72 |
+---------------+-------------------+
|            16 |                81 |
+---------------+-------------------+
|            20 |                90 |
+---------------+-------------------+
|            22 |                62 |
+---------------+-------------------+
|            24 |                88 |
+---------------+-------------------+
|            29 |                94 |
+---------------+-------------------+
|            32 |                79 |
+---------------+-------------------+
|            33 |                67 |
+---------------+-------------------+
|            35 |                91 |
+---------------+-------------------+
|            37 |                69 |
+---------------+-------------------+
|            40 |                60 |
+---------------+-------------------+
|            41 |                76 |
+---------------+-------------------+
|            43 |               100 |
+---------------+-------------------+
|            44 |                69 |
+---------------+-------------------+
|            55 |                94 |
+---------------+-------------------+
|            57 |                73 |
+---------------+-------------------+
|            58 |                64 |
+---------------+-------------------+
|            60 |                79 |
+---------------+-------------------+
|            62 |                68 |
+---------------+-------------------+
|            64 |                79 |
+---------------+-------------------+
|            65 |                83 |
+---------------+-------------------+
|            67 |                94 |
+---------------+-------------------+
|            70 |                70 |
+---------------+-------------------+
|            74 |                85 |
+---------------+-------------------+
|            76 |                85 |
+---------------+-------------------+
|            79 |                91 |
+---------------+-------------------+
|            80 |                96 |
+---------------+-------------------+
|            81 |                72 |
+---------------+-------------------+
|            82 |                96 |
+---------------+-------------------+
|            86 |                95 |
+---------------+-------------------+
|            90 |                83 |
+---------------+-------------------+
|            92 |                99 |
+---------------+-------------------+
|            93 |                87 |
+---------------+-------------------+
|            94 |                62 |
+---------------+-------------------+
|            95 |                76 |
+---------------+-------------------+
|            96 |               100 |
+---------------+-------------------+
|            97 |                73 |
+---------------+-------------------+
|            98 |                92 |
+---------------+-------------------+
|            99 |                67 |
+---------------+-------------------+
|           101 |                98 |
+---------------+-------------------+
|           102 |                85 |
+---------------+-------------------+
|           103 |                67 |
+---------------+-------------------+
|           104 |                89 |
+---------------+-------------------+
|           106 |                96 |
+---------------+-------------------+
|           108 |                67 |
+---------------+-------------------+
|           109 |                79 |
+---------------+-------------------+
|           110 |                85 |
+---------------+-------------------+
|           112 |                75 |
+---------------+-------------------+
|           113 |                65 |
+---------------+-------------------+
|           115 |                95 |
+---------------+-------------------+
|           116 |                94 |
+---------------+-------------------+
|           117 |                86 |
+---------------+-------------------+
|           120 |                76 |
+---------------+-------------------+
|           121 |                84 |
+---------------+-------------------+
|           122 |                72 |
+---------------+-------------------+
|           124 |                89 |
+---------------+-------------------+
|           125 |                86 |
+---------------+-------------------+
|           128 |                89 |
+---------------+-------------------+
|           130 |                67 |
+---------------+-------------------+
|           134 |                65 |
+---------------+-------------------+
|           135 |                94 |
+---------------+-------------------+
|           136 |                81 |
+---------------+-------------------+
|           137 |                86 |
+---------------+-------------------+
|           140 |                95 |
+---------------+-------------------+
|           146 |                95 |
+---------------+-------------------+
|           148 |                64 |
+---------------+-------------------+
|           149 |                90 |
+---------------+-------------------+
|           150 |                76 |
+---------------+-------------------+
|           151 |                96 |
+---------------+-------------------+
|           153 |                85 |
+---------------+-------------------+
|           155 |                98 |
+---------------+-------------------+
|           156 |                77 |
+---------------+-------------------+
|           158 |                68 |
+---------------+-------------------+
|           159 |                73 |
+---------------+-------------------+
|           163 |                74 |
+---------------+-------------------+
|           164 |                67 |
+---------------+-------------------+
|           165 |                65 |
+---------------+-------------------+
|           166 |                60 |
+---------------+-------------------+
|           169 |                80 |
+---------------+-------------------+
|           173 |                67 |
+---------------+-------------------+
|           176 |                86 |
+---------------+-------------------+
|           177 |                81 |
+---------------+-------------------+
|           181 |                81 |
+---------------+-------------------+
|           182 |                61 |
+---------------+-------------------+
|           183 |                96 |
+---------------+-------------------+
|           188 |                94 |
+---------------+-------------------+
|           190 |                82 |
+---------------+-------------------+
|           191 |                70 |
+---------------+-------------------+
|           192 |                76 |
+---------------+-------------------+
|           194 |               100 |
+---------------+-------------------+
|           195 |                94 |
+---------------+-------------------+
|           197 |                88 |
+---------------+-------------------+
|           198 |                78 |
+---------------+-------------------+
|           200 |                73 |
+---------------+-------------------+
|           201 |                61 |
+---------------+-------------------+
|           205 |               100 |
+---------------+-------------------+
|           206 |                64 |
+---------------+-------------------+
|           208 |                91 |
+---------------+-------------------+
|           210 |                97 |
+---------------+-------------------+
|           212 |                92 |
+---------------+-------------------+
|           213 |                84 |
+---------------+-------------------+
|           214 |                93 |
+---------------+-------------------+
|           216 |                64 |
+---------------+-------------------+
|           217 |                61 |
+---------------+-------------------+
|           220 |                88 |
+---------------+-------------------+
|           222 |                68 |
+---------------+-------------------+
|           223 |                94 |
+---------------+-------------------+
|           225 |                83 |
+---------------+-------------------+
|           227 |                74 |
+---------------+-------------------+
|           228 |                90 |
+---------------+-------------------+
|           229 |                79 |
+---------------+-------------------+
|           231 |                88 |
+---------------+-------------------+
|           234 |                83 |
+---------------+-------------------+
|           236 |                89 |
+---------------+-------------------+
|           237 |                68 |
+---------------+-------------------+
|           238 |                90 |
+---------------+-------------------+
|           242 |                88 |
+---------------+-------------------+
|           243 |                85 |
+---------------+-------------------+
|           244 |               100 |
+---------------+-------------------+
|           247 |                86 |
+---------------+-------------------+
|           248 |                66 |
+---------------+-------------------+
|           249 |               100 |
+---------------+-------------------+
|           254 |                73 |
+---------------+-------------------+
|           259 |                74 |
+---------------+-------------------+
|           262 |                77 |
+---------------+-------------------+
|           265 |                78 |
+---------------+-------------------+
|           267 |                75 |
+---------------+-------------------+
|           272 |                69 |
+---------------+-------------------+
|           276 |                85 |
+---------------+-------------------+
|           279 |                95 |
+---------------+-------------------+
|           280 |                69 |
+---------------+-------------------+
|           281 |                69 |
+---------------+-------------------+
|           282 |                61 |
+---------------+-------------------+
|           283 |                94 |
+---------------+-------------------+
|           289 |                62 |
+---------------+-------------------+
|           290 |                85 |
+---------------+-------------------+
|           293 |                99 |
+---------------+-------------------+
|           297 |                74 |
+---------------+-------------------+
|           300 |                80 |
+---------------+-------------------+
|           301 |                98 |
+---------------+-------------------+
|           302 |                95 |
+---------------+-------------------+
|           304 |                60 |
+---------------+-------------------+
|           305 |                84 |
+---------------+-------------------+
|           311 |                85 |
+---------------+-------------------+
|           313 |                89 |
+---------------+-------------------+
|           314 |                77 |
+---------------+-------------------+
|           318 |                82 |
+---------------+-------------------+
|           319 |                67 |
+---------------+-------------------+
|           320 |                74 |
+---------------+-------------------+
|           321 |                72 |
+---------------+-------------------+
|           323 |                95 |
+---------------+-------------------+
|           324 |                78 |
+---------------+-------------------+
|           325 |                82 |
+---------------+-------------------+
|           326 |                70 |
+---------------+-------------------+
|           332 |                98 |
+---------------+-------------------+
|           333 |                86 |
+---------------+-------------------+
|           334 |                64 |
+---------------+-------------------+
|           336 |                85 |
+---------------+-------------------+
|           337 |                81 |
+---------------+-------------------+
|           339 |                79 |
+---------------+-------------------+
|           345 |                71 |
+---------------+-------------------+
|           350 |                87 |
+---------------+-------------------+
|           351 |                68 |
+---------------+-------------------+
|           352 |                90 |
+---------------+-------------------+
|           353 |                71 |
+---------------+-------------------+
|           354 |                64 |
+---------------+-------------------+
|           355 |                76 |
+---------------+-------------------+
|           357 |                80 |
+---------------+-------------------+
|           360 |                74 |
+---------------+-------------------+
|           362 |                96 |
+---------------+-------------------+
|           363 |                64 |
+---------------+-------------------+
|           364 |                88 |
+---------------+-------------------+
|           365 |                88 |
+---------------+-------------------+
|           366 |                88 |
+---------------+-------------------+
|           372 |                83 |
+---------------+-------------------+
|           373 |                85 |
+---------------+-------------------+
|           375 |                78 |
+---------------+-------------------+
|           379 |                62 |
+---------------+-------------------+
|           381 |                69 |
+---------------+-------------------+
|           383 |                76 |
+---------------+-------------------+
|           384 |                77 |
+---------------+-------------------+
|           386 |                93 |
+---------------+-------------------+
|           388 |                93 |
+---------------+-------------------+
|           389 |                82 |
+---------------+-------------------+
|           391 |                71 |
+---------------+-------------------+
|           392 |                86 |
+---------------+-------------------+
|           393 |                82 |
+---------------+-------------------+
|           394 |                65 |
+---------------+-------------------+
|           396 |                65 |
+---------------+-------------------+
|           397 |                88 |
+---------------+-------------------+
|           399 |                67 |
+---------------+-------------------+
|           401 |                66 |
+---------------+-------------------+
|           402 |                91 |
+---------------+-------------------+
|           403 |                78 |
+---------------+-------------------+
|           405 |                93 |
+---------------+-------------------+
|           406 |                74 |
+---------------+-------------------+
|           408 |                76 |
+---------------+-------------------+
|           409 |                66 |
+---------------+-------------------+
|           413 |                74 |
+---------------+-------------------+
|           414 |                99 |
+---------------+-------------------+
|           415 |                88 |
+---------------+-------------------+
|           418 |                81 |
+---------------+-------------------+
|           419 |                73 |
+---------------+-------------------+
|           420 |                91 |
+---------------+-------------------+
|           426 |                87 |
+---------------+-------------------+
|           427 |                71 |
+---------------+-------------------+
|           428 |                91 |
+---------------+-------------------+
|           429 |                64 |
+---------------+-------------------+
|           430 |                94 |
+---------------+-------------------+
|           432 |                76 |
+---------------+-------------------+
|           433 |                86 |
+---------------+-------------------+
|           434 |                92 |
+---------------+-------------------+
|           441 |                89 |
+---------------+-------------------+
|           442 |                81 |
+---------------+-------------------+
|           443 |                69 |
+---------------+-------------------+
|           444 |                67 |
+---------------+-------------------+
|           447 |                74 |
+---------------+-------------------+
|           448 |                82 |
+---------------+-------------------+
|           455 |                97 |
+---------------+-------------------+
|           456 |               100 |
+---------------+-------------------+
|           457 |                96 |
+---------------+-------------------+
|           458 |                99 |
+---------------+-------------------+
|           459 |                91 |
+---------------+-------------------+
|           461 |                65 |
+---------------+-------------------+
|           462 |                93 |
+---------------+-------------------+
|           463 |                81 |
+---------------+-------------------+
|           464 |                81 |
+---------------+-------------------+
|           466 |                88 |
+---------------+-------------------+
|           471 |                63 |
+---------------+-------------------+
|           472 |                72 |
+---------------+-------------------+
|           475 |                76 |
+---------------+-------------------+
|           476 |                66 |
+---------------+-------------------+
|           477 |                90 |
+---------------+-------------------+
|           480 |                84 |
+---------------+-------------------+
|           481 |                88 |
+---------------+-------------------+
|           482 |                88 |
+---------------+-------------------+
|           484 |                73 |
+---------------+-------------------+
|           485 |                73 |
+---------------+-------------------+
|           487 |                63 |
+---------------+-------------------+
|           488 |                68 |
+---------------+-------------------+
|           490 |                85 |
+---------------+-------------------+
|           492 |                69 |
+---------------+-------------------+
|           493 |                62 |
+---------------+-------------------+
|           495 |                68 |
+---------------+-------------------+
|           497 |                63 |
+---------------+-------------------+
|           499 |                78 |
+---------------+-------------------+
|           500 |                99 |
+---------------+-------------------+
|           506 |                63 |
+---------------+-------------------+
|           510 |                80 |
+---------------+-------------------+
|           511 |                87 |
+---------------+-------------------+
|           514 |                65 |
+---------------+-------------------+
|           515 |                62 |
+---------------+-------------------+
|           516 |                67 |
+---------------+-------------------+
|           519 |               100 |
+---------------+-------------------+

In [71]:
print("Query 4: Which are the top 5 products with the highest average review rating?")
run_query("""SELECT item_purchased, ROUND(AVG(review_rating), 2) AS "Average Product Rating"
FROM customer
GROUP BY item_purchased
ORDER BY AVG(review_rating) DESC
LIMIT 5""")

Query 4: Which are the top 5 products with the highest average review rating?
+------------------+--------------------------+
| item_purchased   |   Average Product Rating |
+==================+==========================+
| Gloves           |                     3.86 |
+------------------+--------------------------+
| Sandals          |                     3.84 |
+------------------+--------------------------+
| Boots            |                     3.82 |
+------------------+--------------------------+
| Hat              |                     3.8  |
+------------------+--------------------------+
| Skirt            |                     3.78 |
+------------------+--------------------------+

In [72]:
print("Query 5: Compare the average Purchase Amounts between Standard and Express Shipping. ")
run_query("""SELECT shipping_type, 
       ROUND(AVG(purshase_amount), 2) AS avg_purchase
FROM customer
WHERE shipping_type IN ('Standard', 'Express')
GROUP BY shipping_type""")

Query 5: Compare the average Purchase Amounts between Standard and Express Shipping.
+-----------------+----------------+
| shipping_type   |   avg_purchase |
+=================+================+
| Express         |          60.48 |
+-----------------+----------------+
| Standard        |          58.46 |
+-----------------+----------------+

In [73]:
print("Query 6: Do subscribed customers spend more? Compare average spend and total revenue ")
run_query("""SELECT subscription_status,
       COUNT(customer_id) AS total_customers,
       ROUND(AVG(purshase_amount), 2) AS avg_spend,
       ROUND(SUM(purshase_amount), 2) AS total_revenue
FROM customer
GROUP BY subscription_status
ORDER BY total_revenue DESC, avg_spend DESC""")

Query 6: Do subscribed customers spend more? Compare average spend and total revenue
+-----------------------+-------------------+-------------+-----------------+
| subscription_status   |   total_customers |   avg_spend |   total_revenue |
+=======================+===================+=============+=================+
| No                    |              2847 |       59.87 |          170436 |
+-----------------------+-------------------+-------------+-----------------+
| Yes                   |              1053 |       59.49 |           62645 |
+-----------------------+-------------------+-------------+-----------------+

In [74]:
print("Query 7: Which 5 products have the highest percentage of purchases with discounts applied?")
run_query("""SELECT item_purchased,
       ROUND(100.0 * SUM(CASE WHEN discount_applied = 'Yes' THEN 1 ELSE 0 END) / COUNT(*), 2) AS discount_rate
FROM customer
GROUP BY item_purchased
ORDER BY discount_rate DESC
LIMIT 5""")

Query 7: Which 5 products have the highest percentage of purchases with discounts applied?
+------------------+-----------------+
| item_purchased   |   discount_rate |
+==================+=================+
| Hat              |           50    |
+------------------+-----------------+
| Sneakers         |           49.66 |
+------------------+-----------------+
| Coat             |           49.07 |
+------------------+-----------------+
| Sweater          |           48.17 |
+------------------+-----------------+
| Pants            |           47.37 |
+------------------+-----------------+

In [75]:
print("""Query 8: Segment customers into New, Returning, and Loyal based on their total 
number of previous purchases, and show the count of each segment.""")
run_query("""WITH customer_type AS (
    SELECT customer_id, previous_purchases,
    CASE 
        WHEN previous_purchases = 1 THEN 'New'
        WHEN previous_purchases BETWEEN 2 AND 10 THEN 'Returning'
        ELSE 'Loyal'
    END AS customer_segment
    FROM customer
)
SELECT customer_segment, COUNT(*) AS "Number of Customers" 
FROM customer_type 
GROUP BY customer_segment""")

Query 8: Segment customers into New, Returning, and Loyal based on their total
number of previous purchases, and show the count of each segment.
+--------------------+-----------------------+
| customer_segment   |   Number of Customers |
+====================+=======================+
| Loyal              |                  3116 |
+--------------------+-----------------------+
| Returning          |                   701 |
+--------------------+-----------------------+
| New                |                    83 |
+--------------------+-----------------------+

In [76]:
print("Query 9: What are the top 3 most purchased products within each category? ")
run_query("""WITH item_counts AS (
    SELECT category,
           item_purchased,
           COUNT(customer_id) AS total_orders,
           ROW_NUMBER() OVER (PARTITION BY category ORDER BY COUNT(customer_id) DESC) AS item_rank
    FROM customer
    GROUP BY category, item_purchased
)
SELECT item_rank, category, item_purchased, total_orders
FROM item_counts
WHERE item_rank <= 3""")

Query 9: What are the top 3 most purchased products within each category?
+-------------+-------------+------------------+----------------+
|   item_rank | category    | item_purchased   |   total_orders |
+=============+=============+==================+================+
|           1 | Accessories | Jewelry          |            171 |
+-------------+-------------+------------------+----------------+
|           2 | Accessories | Sunglasses       |            161 |
+-------------+-------------+------------------+----------------+
|           3 | Accessories | Belt             |            161 |
+-------------+-------------+------------------+----------------+
|           1 | Clothing    | Blouse           |            171 |
+-------------+-------------+------------------+----------------+
|           2 | Clothing    | Pants            |            171 |
+-------------+-------------+------------------+----------------+
|           3 | Clothing    | Shirt            |            169 |
+-------------+-------------+------------------+----------------+
|           1 | Footwear    | Sandals          |            160 |
+-------------+-------------+------------------+----------------+
|           2 | Footwear    | Shoes            |            150 |
+-------------+-------------+------------------+----------------+
|           3 | Footwear    | Sneakers         |            145 |
+-------------+-------------+------------------+----------------+
|           1 | Outerwear   | Jacket           |            163 |
+-------------+-------------+------------------+----------------+
|           2 | Outerwear   | Coat             |            161 |
+-------------+-------------+------------------+----------------+

In [77]:
print("""Query 10: Are customers who are repeat buyers
      (more than 5 previous purchases) also likely to subscribe?""")
run_query("""SELECT subscription_status,
       COUNT(customer_id) AS repeat_buyers
FROM customer
WHERE previous_purchases > 5
GROUP BY subscription_status""")

Query 10: Are customers who are repeat buyers
      (more than 5 previous purchases) also likely to subscribe?
+-----------------------+-----------------+
| subscription_status   |   repeat_buyers |
+=======================+=================+
| Yes                   |             958 |
+-----------------------+-----------------+
| No                    |            2518 |
+-----------------------+-----------------+

In [78]:
print("Query 11: What is the revenue contribution of each age group?")
run_query("""SELECT 
    age_group,
    SUM(purshase_amount) AS total_revenue
FROM customer
GROUP BY age_group
ORDER BY total_revenue DESC""")

Query 11: What is the revenue contribution of each age group?
+-------------+-----------------+
| age_group   |   total_revenue |
+=============+=================+
| Young_adult |           62143 |
+-------------+-----------------+
| Mid_aged    |           59197 |
+-------------+-----------------+
| Adult       |           55978 |
+-------------+-----------------+
| Senior      |           55763 |
+-------------+-----------------+